


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Cabin', sans-serif;
    background-color: #272a4a;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
